<template>
  <div>
    <a-table
      :columns="columns"
      :dataSource="dataMeta"
      :pagination="false"
      :expandedRowKeys="expandedRowKeys"
      :rowKey="(record) => record.dcuNo"
      @expand="expandedChange"
      bordered>
      <template
        v-for="col in ['dcuNo', 'idcNo', 'backupDcuNo', 'eurekaUrl', 'gray']"
        :slot="col"
        slot-scope="text, record"
      >
        <div :key="col">
          <!-- 是否灰度选择框 -->
          <a-select
            v-if="record.editable && col === 'gray'"
            style="margin: -5px 0;min-width:60px"
            defaultValue="0"
            :value="text ? '1':''"
            @change="value => handleChange(Boolean(value), record.dcuNo, col)"
          >
            <a-select-option value="1">是</a-select-option>
            <a-select-option value="">否</a-select-option>
          </a-select>
          <!-- 数据中心选择框 -->
          <a-select
            v-else-if="record.editable && col === 'idcNo'"
            style="margin: -5px 0;min-width:120px"
            :value="text"
            @change="value => handleChange(value, record.dcuNo, col)"
          >
            <a-select-option v-for="item in dataSource.idcs" :key="item" :value="item.idcNo">
              {{ item.name }}
            </a-select-option>
          </a-select>
          <a-input
            v-else-if="record.editable && (record.dcuNo === '' || col != 'dcuNo')"
            style="margin: -5px 0"
            :value="text"
            @change="e => handleChange(e.target.value, record.dcuNo, col)"
          />
          <template
            v-else
          >
            <span v-if="col === 'idcNo'" >{{ getIdcName(text) }}</span>
            <span v-else-if="col === 'gray'" >{{ text ? '是': '否' }}</span>
            <span v-else >{{ text }}</span>
          </template>
        </div>
      </template>
      <template slot="operation" slot-scope="text, record">
        <div class="editable-row-operations">
          <span v-if="record.editable">
            <a @click="() => save(record.dcuNo)">确认</a>
            <a @click="()=> cancel(record.dcuNo)">取消</a>
          </span>
          <span v-else>
            <a @click="() => edit(record.dcuNo)">修改</a>
            <a-popconfirm title="确认删除吗?" @confirm="() => del(record.dcuNo)">
              <a>删除</a>
            </a-popconfirm>
            <a v-if="record.gray === true" @click="() => handleGrayAdd(record.dcuNo)">添加关联</a>
          </span>
        </div>
      </template>
      <a-table
        slot="expandedRowRender"
        slot-scope="rd"
        :columns="innerColumns"
        :rowKey="(record) => `${record.grayDcuNo}+${record.dcuNo}`"
        :dataSource="grayDataMeta.filter(item => rd.dcuNo === item.grayDcuNo)"
        :pagination="false"
      >
        <template
          v-for="col in ['dcuNo', 'grayStartIndex', 'grayEndIndex']"
          :slot="col"
          slot-scope="text, record, index"
        >
          <div :key="col">
            <a-input-number
              v-if="record.editable"
              style="margin: -5px 0"
              :value="text"
              :min="0"
              :max="65535"
              @change="value => handleGrayChange(value, record.grayDcuNo, index, col)"
            />
            <template
              v-else
            >{{ text }}</template>
          </div>
        </template>
        <span slot="operation1" slot-scope="text, record, index" class="editable-row-operations">
          <span v-if="record.editable">
            <a @click="() => saveGray(record.grayDcuNo, index)">确认</a>
            <a @click="()=> cancelGray(record.grayDcuNo, index)">取消</a>
          </span>
          <span v-else>
            <a @click="() => editGray(record.grayDcuNo, index)">修改</a>
            <a-popconfirm title="确认删除吗?" @confirm="() => delGray(record.grayDcuNo, index)">
              <a>删除</a>
            </a-popconfirm>
          </span>
        </span>
      </a-table>

    </a-table>
    <a-button class="editable-add-btn" @click="handleAdd" >添加一条</a-button>
  </div>
</template>

<script>
import { clone } from '@/utils/util'
const columns = [

  {
    title: '单元号',
    dataIndex: 'dcuNo',
    width: '15%',
    scopedSlots: { customRender: 'dcuNo' }
  },
  {
    title: '备份单元号',
    dataIndex: 'backupDcuNo',
    width: '15%',
    scopedSlots: { customRender: 'backupDcuNo' }
  },
  {
    title: '数据中心',
    dataIndex: 'idcNo',
    width: '15%',
    scopedSlots: { customRender: 'idcNo' }
  },
  {
    title: 'eureka地址',
    dataIndex: 'eurekaUrl',
    width: '20%',
    scopedSlots: { customRender: 'eurekaUrl' }
  },
  {
    title: '会否灰度',
    dataIndex: 'gray',
    width: '10%',
    scopedSlots: { customRender: 'gray' }
  },
  {
    title: '操作',
    dataIndex: 'operation',
    scopedSlots: { customRender: 'operation' }
  }
]

const innerColumns = [
  { title: '灰度单元号', dataIndex: 'grayDcuNo' },
  { title: '单元号', dataIndex: 'dcuNo', scopedSlots: { customRender: 'dcuNo' } },
  { title: 'StartIndex', dataIndex: 'grayStartIndex', scopedSlots: { customRender: 'grayStartIndex' } },
  { title: 'EndIndex', dataIndex: 'grayEndIndex', scopedSlots: { customRender: 'grayEndIndex' } },
  {
    title: '操作',
    dataIndex: 'operation',
    scopedSlots: { customRender: 'operation1' }
  }
]

export default {
  name: 'DucTable',
  props: {
    dataSource: { type: [Object],
      default: () => {}
    }
  },
  data () {
    return {
      cacheData: null,
      dataMeta: null,
      grayDataMeta: null,
      grayCacheData: null,
      expandedRowKeys: [],
      innerColumns,
      columns
    }
  },
  methods: {
    handleChange (value, dcuNo, column) {
      const newData = [...this.dataMeta]
      const target = newData.filter(item => dcuNo === item.dcuNo)[0]
      if (target) {
        target[column] = value
        this.dataMeta = newData
      }
    },
    handleGrayChange (value, dcuNo, index, column) {
      const newData = [...this.grayDataMeta]
      const target = newData.filter(item => dcuNo === item.grayDcuNo)[index]
      if (target) {
        target[column] = value
        this.grayDataMeta = newData
      }
    },
    edit (dcuNo) {
      const newData = [...this.dataMeta]
      let target = newData.filter(item => item.editable === true)[0]
      if (target) {
        this.$message.warning('请先处理正在编辑的数据')
        return
      }
      target = newData.filter(item => dcuNo === item.dcuNo)[0]
      if (target) {
        target.editable = true
        this.dataMeta = newData
      }
    },
    editGray (dcuNo, index) {
      const newData = [...this.grayDataMeta]
      let target = newData.filter(item => dcuNo === item.grayDcuNo && item.editable === true)[0]
      if (target) {
        this.$message.warning('请先处理正在编辑的数据')
        return
      }
      target = newData.filter(item => dcuNo === item.grayDcuNo)[index]
      if (target) {
        target.editable = true
        this.grayDataMeta = newData
      }
    },
    del (dcuNo) {
      const target = this.dataMeta.filter(item => dcuNo === item.dcuNo)[0]
      if (target) {
        this.dataMeta.splice(this.dataMeta.indexOf(target), 1)
        this.cacheData = clone(this.dataMeta)
        this.$emit('saveData', 'dcuMetadatas', this.cacheData)
        // 删除其对应下的 grayDcu
        const target1 = this.grayDataMeta.filter(item => dcuNo === item.grayDcuNo)
        if (target1.length > 0) {
          for (var i = 0; i < target1.length; i++) {
            this.delGray(dcuNo, i)
          }
        }
      }
    },
    delGray (dcuNo, index) {
      const target = this.grayDataMeta.filter(item => dcuNo === item.grayDcuNo)[index]
      if (target) {
        this.grayDataMeta.splice(this.grayDataMeta.indexOf(target), 1)
        this.grayCacheData = clone(this.grayDataMeta)
        this.$emit('saveData', 'grayDcuSlots', this.grayCacheData)
      }
    },
    save (dcuNo) {
      const newData = [...this.dataMeta]
      const target = newData.filter(item => dcuNo === item.dcuNo)[0]
      if (target) {
        if (!this.validate(target)) {
          return
        }
        delete target.editable
        this.dataMeta = newData
        this.cacheData = clone(this.dataMeta)
        this.$emit('saveData', 'dcuMetadatas', this.cacheData)
      }
    },
    saveGray (dcuNo, index) {
      const newData = [...this.grayDataMeta]
      const target = newData.filter(item => dcuNo === item.grayDcuNo)[index]
      if (target) {
        if (!this.validateGray(target)) {
          return
        }
        delete target.editable
        this.grayDataMeta = newData
        this.grayCacheData = clone(this.grayDataMeta)
        this.$emit('saveData', 'grayDcuSlots', this.grayCacheData)
      }
    },
    cancel (dcuNo) {
      const newData = [...this.dataMeta]
      const target = this.cacheData.filter(item => dcuNo === item.dcuNo)[0]
      if (!target) {
        this.del(dcuNo)
      } else {
        const target1 = newData.filter(item => dcuNo === item.dcuNo)[0]
        Object.assign(target1, this.cacheData.filter(item => dcuNo === item.dcuNo)[0])
        delete target1.editable
        this.dataMeta = newData
      }
    },
    cancelGray (dcuNo, index) {
      const newData = [...this.grayDataMeta]
      const target = this.grayCacheData.filter(item => dcuNo === item.grayDcuNo)[index]
      if (!target) {
        this.delGray(dcuNo, index)
      } else {
        const target1 = newData.filter(item => dcuNo === item.grayDcuNo)[index]
        Object.assign(target1, this.grayCacheData.filter(item => dcuNo === item.grayDcuNo)[index])
        delete target1.editable
        this.grayDataMeta = newData
      }
    },
    handleAdd () {
      const { dataMeta } = this
      const target = dataMeta.filter(item => item.editable === true)[0]
      if (target) {
        this.$message.warning('请先处理正在编辑的数据')
        return
      }
      const dcuNos = dataMeta.map(item => item.dcuNo).sort((a, b) => a - b)
      const nextNo = dcuNos.length === 0 ? 0 : (dcuNos.pop() + 1)
      const newData = {
        dcuNo: nextNo,
        idcNo: '',
        backupDcuNo: ``,
        gray: false,
        editable: true,
        eurekaUrl: ``
      }
      this.dataMeta = [...dataMeta, newData]
    },

    handleGrayAdd (dcuNo) {
      const { grayDataMeta } = this
      const target = grayDataMeta.filter(item => dcuNo === item.grayDcuNo && item.editable === true)[0]
      if (target) {
        this.$message.warning('请先处理正在编辑的数据')
        return
      }
      const newData = {
        dcuNo: ``,
        grayDcuNo: dcuNo,
        grayEndIndex: ``,
        grayStartIndex: ``,
        editable: true
      }
      this.grayDataMeta = [...grayDataMeta, newData]
      // 展开扩展行
      this.expandedRowKeys.push(dcuNo)
    },
    validate (value) {
      let res = ''
      if (value.dcuNo === '') {
        res = '单元号不能为空,'
      } else if (value.backupDcuNo === '') {
        res = '备份单号元不能为空'
      } else if (value.idcNo === '') {
        res = '数据中心不能为空,'
      } else if (value.gray === '') {
        res = '是否为灰度不能为空,'
      } else {
        const target = this.dataMeta.filter(item => value.dcuNo === item.dcuNo)
        if (target && target.length >= 2) {
          res = '数据单元号已经存在'
        }
      }

      // eslint-disable-next-line no-unused-expressions
      res !== '' ? this.$message.error(res) : null
      return res === ''
    },
    validateGray (value) {
      let res = ''
      if (value.dcuNo === '') {
        res = '单元不能为空,'
      } else if (value.grayDcuNo === '') {
        res = '备份单元不能为空'
      } else if (value.grayEndIndex === '') {
        res = '灰度结束值不能为空,'
      } else if (value.grayStartIndex === '') {
        res = '灰度开始值不能为空,'
      } else {
        const target = this.grayDataMeta.filter(item => value.dcuNo === item.dcuNo && value.grayDcuNo === item.grayDcuNo)
        if (target && target.length >= 2) {
          res = '关联数据重复，请修改'
        }
      }

      // eslint-disable-next-line no-unused-expressions
      res !== '' ? this.$message.error(res) : null
      return res === ''
    },
    getIdcName (idcNo) {
      const target = this.dataSource.idcs.filter(item => idcNo === item.idcNo)[0]
      if (target) {
        return target.name
      } else {
        return ''
      }
    },
    expandedChange (expanded, record) {
      if (expanded) {
        this.expandedRowKeys.push(record.dcuNo)
      } else {
        const index = this.expandedRowKeys.indexOf(record.dcuNo)
        this.expandedRowKeys.splice(index, 1)
      }
    }
  },
  getGrayDcus (dcuNo) {
    return this.grayDataMeta.filter(item => dcuNo === item.dcuNo)
  },
  computed: {
  },
  watch: {
    dataSource: function (val) {
      this.dataMeta = (val && val.dcuMetadatas) ? val.dcuMetadatas : []
      this.cacheData = clone(this.dataMeta)
      this.grayDataMeta = (val && val.grayDcuSlots) ? val.grayDcuSlots : []
      this.grayCacheData = clone(this.grayDataMeta)
    }
  }
}
</script>
<style scoped>
    .editable-row-operations a {
        margin-right: 8px;
    }
    .editable-add-btn {
        margin-top: 8px;
    }
</style>
