<template>
  <div>
    <a-table :columns="columns" :dataSource="dataMeta" :pagination="false" bordered>
      <template
        v-for="col in ['name', 'idcNo', 'albAddress', 'ingressVip']"
        :slot="col"
        slot-scope="text, record"
      >
        <div :key="col">
          <a-input
            v-if="record.editable && (record.idcNo === '' || col != 'idcNo')"
            style="margin: -5px 0"
            :value="text"
            @change="e => handleChange(e.target.value, record.idcNo, col)"
          />
          <template
            v-else
          >{{ text }}</template>
        </div>
      </template>
      <template slot="operation" slot-scope="text, record">
        <div class="editable-row-operations">
          <span v-if="record.editable">
            <a @click="() => save(record.idcNo)">确认</a>
            <a @click="()=> cancel(record.idcNo)">取消</a>
          </span>
          <span v-else>
            <a @click="() => edit(record.idcNo)">修改</a>
            <a-popconfirm title="确认删除吗?" @confirm="() => del(record.idcNo)">
              <a>删除</a>
            </a-popconfirm>
          </span>
        </div>
      </template>
    </a-table>
    <a-button class="editable-add-btn" @click="handleAdd" >添加一条</a-button>
  </div>
</template>

<script>
import { clone } from '@/utils/util'
const columns = [
  {
    title: '数据中心号',
    dataIndex: 'idcNo',
    width: '15%',
    scopedSlots: { customRender: 'idcNo' }
  },
  {
    title: '名称',
    dataIndex: 'name',
    width: '25%',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: '应用网关地址',
    dataIndex: 'albAddress',
    width: '20%',
    scopedSlots: { customRender: 'albAddress' }
  },
  {
    title: 'ingress地址',
    dataIndex: 'ingressVip',
    width: '20%',
    scopedSlots: { customRender: 'ingressVip' }
  },
  {
    title: '操作',
    dataIndex: 'operation',
    scopedSlots: { customRender: 'operation' }
  }
]
export default {
  name: 'IdcTable',
  props: {
    dataSource: { type: [Object],
      default: () => {}
    }

  },
  data () {
    return {
      cacheData: null,
      dataMeta: null,
      columns
    }
  },
  methods: {
    handleChange (value, idcNo, column) {
      const newData = [...this.dataMeta]
      const target = newData.filter(item => idcNo === item.idcNo)[0]
      if (target) {
        target[column] = value
        this.dataMeta = newData
      }
    },
    edit (idcNo) {
      const newData = [...this.dataMeta]
      let target = newData.filter(item => item.editable === true)[0]
      if (target) {
        this.$message.warning('请先处理正在编辑的数据')
        return
      }
      target = newData.filter(item => idcNo === item.idcNo)[0]
      if (target) {
        target.editable = true
        this.dataMeta = newData
      }
    },
    del (idcNo) {
      const target = this.dataMeta.filter(item => idcNo === item.idcNo)[0]
      if (target) {
        this.dataMeta.splice(this.dataMeta.indexOf(target), 1)
        this.cacheData = clone(this.dataMeta)
        this.$emit('saveData', 'idcs', this.cacheData)
      }
    },
    save (idcNo) {
      const newData = [...this.dataMeta]
      const target = newData.filter(item => idcNo === item.idcNo)[0]
      if (target) {
        if (!this.validate(target)) {
          return
        }
        delete target.editable
        this.dataMeta = newData
        this.cacheData = clone(this.dataMeta)
        this.$emit('saveData', 'idcs', this.cacheData)
      }
    },
    cancel (idcNo) {
      const newData = [...this.dataMeta]
      const target = this.cacheData.filter(item => idcNo === item.idcNo)[0]
      if (!target) {
        this.del(idcNo)
      } else {
        const target1 = newData.filter(item => idcNo === item.idcNo)[0]
        Object.assign(target1, this.cacheData.filter(item => idcNo === item.idcNo)[0])
        delete target1.editable
        this.dataMeta = newData
      }
    },
    validate (value) {
      let res = ''
      if (value.idcNo === '') {
        res = '数据中心号不能为空,'
      } else if (value.name === '') {
        res = '数据中心名称不能为空'
      } else {
        const target = this.dataMeta.filter(item => value.idcNo === item.idcNo)
        if (target && target.length >= 2) {
          res = '数据中心号已经存在'
        }
      }
      // else if (value.albAddress === '') {
      //   res = 'alb地址不能为空,'
      // } else if (value.ingressVip === '') {
      //   res = 'ingress虚拟地址不能为空,'
      // }

      // eslint-disable-next-line no-unused-expressions
      res !== '' ? this.$message.error(res) : null
      return res === ''
    },
    handleAdd () {
      const { dataMeta } = this
      const target = dataMeta.filter(item => item.editable === true)[0]
      if (target) {
        this.$message.warning('请先处理正在编辑的数据')
        return
      }

      // 递增
      const dcuNos = dataMeta.map(item => item.idcNo).sort((a, b) => a - b)
      const nextNo = dcuNos.length === 0 ? 0 : (dcuNos.pop() + 1)
      const newData = {
        idcNo: nextNo,
        name: ``,
        albAddress: ``,
        editable: true,
        ingressVip: ``
      }
      this.dataMeta = [...dataMeta, newData]
    }
  },
  computed: {
  },
  watch: {
    dataSource: function (val) {
      this.dataMeta = (val && val.idcs) ? val.idcs : []
      this.cacheData = [...this.dataMeta]
    }
  }
}
</script>
<style scoped>
    .editable-row-operations a {
        margin-right: 8px;
    }
    .editable-add-btn {
        margin-top: 8px;
    }
</style>
